# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
dist-ssr
*.local

# Env
.env
.env.local
.env.production
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store

# Claude
.claude/*
!.claude/memory/

# Logs
*.log
npm-debug.log*
